<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img src="/images/logo-white.png" alt="ASCD Streaming Video" />
    </a>

    <ul class="navbar-nav mb-2">
      <li class="nav-item">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="https://www.ascd.org/about"
          target="_blank"
        >
          <small>About ASCD</small>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="https://www.ascd.org/contact"
          target="_blank"
        >
          <small>Contact Us</small>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="/faq"
        >
          <small>Help</small>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="https://www.ascd.org/privacy-policy"
          target="_blank"
        >
          <small>Privacy Policy</small>
        </a>
      </li>

      <li class="nav-item">
        <a
          class="nav-link text-white"
          aria-current="page"
          href="https://www.ascd.org/terms-of-use"
          target="_blank"
        >
          <small>Terms of Use</small>
        </a>
      </li>
    </ul>

    <div class="d-flex flex-row mb-2 mb-lg-0">
      <a class="icon-link text-white p-2" href="https://www.facebook.com/ascd.org" target="_blank">
        <i class="bi bi-facebook fs-5"></i>
      </a>

      <a class="icon-link text-white p-2" href="https://twitter.com/ASCD" target="_blank">
        <i class="bi bi-twitter"></i>
      </a>

      <a
        class="icon-link text-white p-2"
        href="https://www.pinterest.com/officialascd"
        target="_blank"
      >
        <i class="bi bi-pinterest"></i>
      </a>

      <a class="icon-link text-white p-2" href="https://instagram.com/officialascd" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>

      <a
        class="icon-link text-white p-2"
        href="https://www.linkedin.com/company/ascd"
        target="_blank"
      >
        <i class="bi bi-linkedin fs-5"></i>
      </a>

      <a
        class="icon-link text-white p-2"
        href="https://www.youtube.com/user/officialascd"
        target="_blank"
      >
        <i class="bi bi-youtube fs-5"></i>
      </a>
    </div>
  </div>
</nav>

<div class="bg-black">
  <div class="container">
    <p class="text-white mb-0 text-center"><small>© 2023. ASCD. All Rights Reserved.</small></p>
  </div>
</div>
