<div class="bg-dark">
  <div class="container d-flex flex-column flex-lg-row align-items-center">
    <div class="video-player p-4">
      <script src="//fast.wistia.com/embed/medias/<%= video.hashed_id %>.jsonp" async></script>
      <script src="//fast.wistia.com/assets/external/E-v1.js" async></script>
      <div class="wistia_responsive_padding">
        <div class="wistia_responsive_wrapper">
          <div class="wistia_embed wistia_async_<%= video.hashed_id %> videoFoam=true">&nbsp;</div>
        </div>
      </div>
    </div>

    <div class="p-4">
      <h3 class="text-white mb-4"><%= video.name?.split("_")?.[0] %></h3>

      <p class="text-white mb-4">
        <%= new Date(video.updated).toLocaleString('en-US', { dateStyle: 'medium', timeStyle:
        'short' }) %>
      </p>
    </div>
  </div>
</div>

<style>
  .video-player {
    width: 720px;
    max-width: 100%;
    flex-shrink: 0;
  }
  .wistia_embed {
    height: 100%;
    width: 100%;
  }
</style>
