<div class="container py-5">
  <div class="faqs-wrap">
    <h1 class="my-4">FAQs</h1>

    <h5 class="mt-5">How do I access ASCD Streaming?</h5>
    <p>
      Sign in with your ASCD log-in or create a new account.
      <a href="/">Access ASCD Steaming</a> Does ASCD Streaming work on all devices?
    </p>
    <p>You can access ASCD Streaming on your PC, tablet, or mobile phone.</p>

    <h5 class="mt-5">Where can I find a list of all of the videos in ASCD Streaming?</h5>
    <p>
      The list of video programs available in ASCD Streaming will be updated as new titles are
      added. See the full list
    </p>

    <h5 class="mt-5">How long are the videos?</h5>
    <p>
      Most videos are 60 to 90 minutes and designed to be viewed in a single session. You can also
      pause your video at any time and return to it during the rental or subscription period.
    </p>

    <h5 class="mt-5">Can I pay for ASCD Streaming by Purchase Order?</h5>
    <p>
      A purchase order form for ASCD Streaming is in development and will be posted soon in the
      pricing section on the main ASCD Streaming page.
    </p>

    <h5 class="mt-5">Are Videos Closed Captioned?</h5>
    <p>Yes, all videos have a closed captioned option.</p>

    <h5 class="mt-5">Do you have any free videos?</h5>
    <p>Yes, check out the Teachers Lounge.</p>

    <h5 class="mt-5">What if I have technical questions?</h5>
    <p>
      If you have technical issues or questions about ASCD Streaming, call 1-800-933-ASCD (2723),
      press “5” or email: webhelp@ascd.org
    </p>
    <p>For Billing questions, please call 1-800-933-2723, press “1” or email member@ascd.org</p>

    <h5 class="mt-5">Do you provide a discount if I’m a member of ASCD?</h5>
    <p>Yes, you will receive a 10% discount upon checkout.</p>
  </div>
</div>

<style>
  .faqs-wrap {
    max-width: 840px;
    margin: auto;
  }
</style>
