<%- include('../components/hero-video', {video: mainVideo}); %>

<div class="container py-5">
  <%- include('../components/project-videos', { slug: categorySlug, name: categoryName, videos:
  videos }); %>
</div>
